@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply box-border;
        @apply h-screen;
        @apply bg-oliveGreen;
    }
    li{
        @apply px-6;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover{
    background-image: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
        )!important;
}

.nav-item .active {
    padding-bottom: 5px;
    border-bottom: 4px solid #3F5426;
    color: #b8ab9c;
    font-weight: bold;
    transition: all ease-in-out 300ms;
}

.menu-item .active {
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: #3F5426;
    color: #b8ab9c;
    font-weight: bold;
    transition: all ease-in-out 300ms;
}

.nav-item{
    padding-bottom: 5px;
    color: #474542;
    transition: all ease-in-out 300ms;
}

.menu-item{
    padding-bottom: 9px;
    color: #52504e;
    transition: all ease-in-out 300ms;
}

li {
    text-transform: uppercase;
}

.typer{
    color:#9A8E7E;
    font-weight: normal;
}

.Typewriter__cursor{
    color:#9A8E7E;
    visibility: hidden;
}

.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .lds-dual-ring:after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
